@import "color";
.donation-list {
    .campaign-dn {
        background: #fff;
        box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 7px 25px 0 rgb(0 0 0 / 3%), 0 4px 12px 0 rgb(0 0 0 / 3%);
        transition-property: box-shadow;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(.19, 1, .22, 1);
        overflow: hidden;
        border-radius: 0.25rem;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        word-wrap: break-word;
        height: 100%;
        color: #616161;
        font-size: 15px;
        line-height: 18px;
        width: 100%;
        max-width: 100%;
        width: auto;
        &:hover {
            .campaign-dn-title {
                color: $pink-color;
            }
        }
    }
    .campaign-dn-img {
        height: 22rem;
        overflow: hidden;
    }
    .campaign-dn-title {
        color: #212121;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
    }
    .campaign-dn-body {
        padding: 1.6rem 2rem;
        flex: 1;
    }
    .campaign-dn-footer {
        padding: 1rem 2rem 1.6rem;
        .campaign-dn-info {
            display: flex;
            padding-bottom: 0.6rem;
            flex-flow: row nowrap;
            align-items: flex-end;
            .campaign-dn-money {
                flex: 1;
                font-size: 1.4rem;
            }
            .campaign-dn-percent {
                font-size: 1.4rem;
                font-weight: 700;
            }
        }
        .campaign-progress {
            display: flex;
            height: 0.7rem;
            overflow: hidden;
            line-height: 0;
            font-size: .75rem;
            background-color: #e9ecef;
            border-radius: 10rem;
            .campaign-progress-bar {
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;
                color: #fff;
                text-align: center;
                white-space: nowrap;
                background-color: #ae2070;
                transition: width .6s ease;
                border-radius: 10rem;
            }
        }
        .campaign-dn-time {
            color: #757575;
            margin-top: 1.2rem;
            display: flex;
            align-items: center;
            font-size: 13px;
            justify-content: space-between;
            .ico {
                vertical-align: -14%;
                height: 1.3rem;
                width: 1.3rem;
                margin-right: 0.2rem;
            }
        }
    }
}