.footer {
    background: #303030;
    padding: 2rem 0;
    color: rgba(255, 255, 255, .7);
}

.modal-dialog {
    max-width: 60%;
    .modal-content {
        border-radius: 1.5rem;
    }
    .modal-body {
        padding: 0;
    }
    .btn-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        &:hover,
        &:focus {
            box-shadow: none;
        }
    }
    .gradient-form {
        border-radius: 1.5rem;
        background-color: #eee;
        .container {
            padding: 3rem;
        }
    }
    .card {
        border-radius: 1rem;
    }
    .gradient-custom-2 {
        background: #fccb90;
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .btn-outline-danger {
        color: #f93154;
        border-color: #f93154;
        font-size: 1.5rem;
        padding: 0.7rem 1.5rem;
        &:hover {
            color: #fff;
            box-shadow: none;
        }
        &:focus {
            box-shadow: none;
        }
    }
    form {
        p {
            color: 303030;
            font-weight: 600;
        }
        .form-control {
            padding: 0.5rem 1.5rem;
            font-size: 1.4rem;
        }
        .btn-login {
            width: 100%;
            font-size: 1.7rem;
            padding: 0.7rem;
            border: none;
            border-radius: 0;
        }
    }
}